<!doctype html>
<html lang=en>
<head>
{{ www_head }}
</head>

<body>
<nav>
{{ www_nav }}
</nav>

<header>
{{ www_header }}
</header>

<section id="content">
{{ index_body }}
</section>

<footer>
{{ www_footer }}
</footer>
</body>
</html>
