# {{ template_destpath }}
# {{ ansible_managed }}

#
# Settings
#

prefork 2


#
# Defaults
#

server "default" {
    listen on {{ ansible_host }} port 80
    root "/htdocs/default"

{% for item in httpd_default_includes %}
    include "/etc/httpd/default/{{ item }}"
{% endfor %}
}

types {
    include "/usr/share/misc/mime.types"
}
