# {{ template_destpath }}
# {{ ansible_managed }}

auth_username_format = %Ln
hostname = {{ mail_domain }}
lda_mailbox_autocreate = yes
lda_mailbox_autosubscribe = yes
mail_location = maildir:~/Mail
mail_max_userip_connections = 100
postmaster_address = postmaster@{{ mail_domain }}
protocols = imap lmtp
ssl = required
ssl_cert = </etc/ssl/{{ mail_domain }}.fullchain.pem
ssl_key = </etc/ssl/private/{{ mail_domain }}.key
ssl_prefer_server_ciphers = yes

namespace inbox {
	inbox = yes
	separator = /

	mailbox Archive {
		auto = subscribe
		special_use = \Archive
	}
	mailbox Drafts {
		auto = subscribe
		special_use = \Drafts
	}
	mailbox Sent {
		auto = subscribe
		special_use = \Sent
	}
	mailbox Junk {
		auto = subscribe
		special_use = \Junk
	}
	mailbox Trash {
		auto = subscribe
		special_use = \Trash
	}
}

plugin {
	sieve = file:~/Mail/dovecot.sieve
	sieve_global_extensions = +vnd.dovecot.environment
	sieve_plugins = sieve_imapsieve
	sieve_user_log = ~/Mail/dovecot.sieve.log
}

protocol imap {
	mail_plugins = imap_sieve
}

protocol lmtp {
	mail_plugins = quota sieve
	postmaster_address = postmaster@{{ mail_domain }}
}

service imap-login {
	inet_listener imap {
		port = 143
	}
	inet_listener imaps {
		port = 993
		ssl = yes
	}
}

service lmtp {
	unix_listener lmtp {
		user = _smtpd
		group = _smtpd
		# OpenSMTPD forks lmtp process as user.
		# https://github.com/OpenSMTPD/OpenSMTPD/commit/f682a707ff6e72011db359c7cc72697a82ef4299
		# TODO: jcmdln: Use a forward file? Per user?
		mode = 0666
	}
}

userdb {
	driver = passwd
	args = blocking=no
}
