# SPDX-License-Identifier: ISC

root = true

[*]
charset = "utf-8"
end_of_line = "lf"
indent_size = 4
indent_style = "space"
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.{json{,c},y{,a}ml}{,.j2}]
indent_size = 2
tab_width = 2

[*.{ansible-,yaml}lint]
indent_size = 2
tab_width = 2

[roles/*/templates/**/*.conf.j2]
indent_size = 4
indent_style = "tab"
tab_width = 4
