# SPDX-License-Identifier: ISC
#
# Copyright (c) 2022 Johnathan C. Maudlin <jcmdln@gmail.com>

[flake8]
exclude =
    __pycache__/
    .cache/
    .mypy_cache/
    .pytest_cache/
    .tox/
    .venv/
    *.egg-info/
ignore =
    D100,D101,D102,D103,D104,D105,D106,D107
    E203
    W503
max-line-length = 100
