# SPDX-License-Identifier: ISC
#
# Copyright (c) 2023 Johnathan C. Maudlin <jcmdln@gmail.com>

# Ignore everything
*

# Include specific files
!.ansible-lint
!.editorconfig
!.gitignore
!.prettierrc.yml
!.yamllint
!CHANGELOG.md
!galaxy.yml
!LICENSE
!notes.md
!pyproject.toml
!README.md
!site-check.yml
!site-mail.yml
!site-pkg.yml
!site-syspatch.yml
!site-sysupgrade.yml
!tox.ini

# Include files from subdirectories
!.github/
!.github/workflows/
!.github/workflows/*.yml

!.vscode/
!.vscode/extensions.json
!.vscode/settings.json

!inventory/
!inventory/localhost.yml

!meta/
!meta/runtime.yml

!plugins/
!plugins/modules/
!plugins/modules/*.py

!roles/
!roles/**/
!roles/**/*.j2
!roles/**/*.md
!roles/**/*.yml
