# SPDX-License-Identifier: ISC
#
# Copyright (c) 2024 Johnathan C. Maudlin <jcmdln@gmail.com>

# Ignore everything
*

# Include directories
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!inventory/
!inventory/localhost.yml
!meta/
!meta/runtime.yml
!playbooks/
!playbooks/*.yml
!plugins/
!plugins/modules/
!plugins/modules/*.py
!roles/
!roles/**/
!roles/**/*.md
!roles/**/*.yml
!roles/**/templates/**/*.j2

# Include files
!.ansible-lint
!.editorconfig
!.gitignore
!.prettierrc.yml
!.yamllint
!CHANGELOG.md
!galaxy.yml
!LICENSE
!pyproject.toml
!README.md
!tox.ini
