# SPDX-License-Identifier: ISC

# Ignore everything
*

# Include directories
!.github/
!.github/workflows/
!.github/workflows/*.yaml
!.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!inventory/
!inventory/localhost.yaml
!meta/
!meta/runtime.yml
!playbooks/
!playbooks/*.yaml
!plugins/
!plugins/modules/
!plugins/modules/*.py
!roles/
!roles/**/
!roles/**/*.md
!roles/**/*.yaml
!roles/*/files/**
!roles/*/templates/**/*.j2

# Include files
!.ansible-lint
!.editorconfig
!.gitignore
!.prettierrc.yaml
!.yamllint
!CHANGELOG.md
!galaxy.yaml
!LICENSE
!pyproject.toml
!README.md
!tox.ini
