# SPDX-License-Identifier: ISC

[tool.black]
line-length = 100

[tool.mypy]
mypy_path = ["plugins/modules/"]
ignore_missing_imports = true
show_error_context = true
strict = true
strict_optional = true
# Disable specific strict checks
disallow_any_generics = false

[tool.ruff]
line-length = 100
src = ["plugins/modules/"]

[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = 80
