# requirements-devel.txt

bandit
black
flake8
flake8-black
flake8-docstrings
flake8-isort
mccabe
mypy
pycodestyle
pydocstyle
pyflakes
pyls-flake8
pyls-isort
pytest
python-lsp-black
python-lsp-server
rope
tox
types-pyyaml
