# {{ template_destpath }}
# {{ ansible_managed }}

authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

{% for item in acme_domains %}
domain {{ item.domain }} {
	alternative names {
{% for alternative in item.alternatives %}
		{{ alternative }}
{% endfor %}
	}
	domain key "/etc/ssl/private/{{ item.domain }}.key"
	domain full chain certificate "/etc/ssl/{{ item.domain }}.fullchain.pem"
	sign with letsencrypt
}

{% endfor%}
