{% for item in acme_domains %}
server "{{ item.domain }}" {
	listen on * port 80

{% for alternative in item.alternatives %}
	alias "{{ alternative }}"
{% endfor %}

	location "/.well-known/acme-challenge/*" {
		root "/acme"
		request strip 2
	}
}

{% endfor %}
