# {{ template_destpath }}
# {{ ansible_managed }}

#
# Authentication
#

hostname = {{ mail_domain }}
lda_mailbox_autocreate = yes
mail_location = maildir:~/Maildir
postmaster_address = postmaster@{{ mail_domain }}
ssl = required
ssl_cert = </etc/ssl/mail.crt
ssl_key = </etc/ssl/private/mail.key
ssl_prefer_server_ciphers = yes

#
# Databases
#

userdb {
  driver = passwd
  args = blocking=no
}

#
# Services
#

service imap-login {
  inet_listener imaps {
    port = 993
    ssl = yes
  }
}

service pop3-login {
  inet_listener pop3s {
    port = 995
    ssl = yes
  }
}
