# {{ template_destpath }}
# {{ ansible_managed }}

server "{{ server_domain }}" {
    alias "www.{{ server_domain }}"
    listen on * port 80

    location "/.well-known/acme-challenge/*" {
        root "/acme"
        request strip 2
    }

    location "/*" {
        root "/htdocs/{{ server_domain }}"
	directory index index.html
    }
}

server "{{ server_domain }}" {
    alias "www.{{ server_domain }}"
    listen on * tls port 443

    tls {
        certificate "/etc/ssl/{{ server_domain }}.fullchain.pem"
        key "/etc/ssl/private/{{ server_domain }}.key"
    }

    location "/.well-known/acme-challenge/*" {
        root "/acme"
        request strip 2
    }

    location "/*" {
        root "/htdocs/{{ server_domain }}"
	directory index index.html
    }
}
