# {{ template_destpath }}
# {{ ansible_managed }}

option domain-name "openbsd.run";
option domain-name-servers <dns>;

subnet {{ ansible_}} netmask 255.255.255.0 {
    option routers <default-gateway-ipv4>;
    server-name "{{ server_hostname }}.openbsd.run";
    range <start-ip end-ip>;

{% for customer in customers %}
    host "vm{{ loop.index }}" {
        hardware ethernet fe:e1:bb:d1:c8:01;
        fixed-address <assigned-ipv4>;
        filename "auto_install";
        option host-name "<vm-name>";
    }
{% if not loop.last %}
{# add a newline between hosts#}

{% endif %}
{% endfor %}
}
