# {{ template_destpath }}
# {{ ansible_managed }}

server "{{ host_domain }}" {
    listen on * port 80

    location "/.well-known/acme-challenge/*" {
        root "/acme"
        request strip 2
    }

    location * {
        block return 302 "https://$HTTP_HOST$REQUEST_URI"
    }
}

server "{{ host_domain }}" {
    listen on * tls port 443

    tls {
        certificate "/etc/ssl/{{ host_domain }}.fullchain.pem"
        key "/etc/ssl/private/{{ host_domain }}.key"
    }

    location "/pub/*" {
        directory auto index
    }

    location "/.well-known/acme-challenge/*" {
        root "/acme"
        request strip 2
    }
}
