# {{ template_destpath }}
# {{ ansible_managed }}

set skip on lo

# block stateless traffic
block return

# establish keep-state
pass

# By default, do not permit remote connections to X11
block return in on ! lo0 proto tcp to port 6000:6010

# Port build user does not need network
block return out log proto {tcp udp} user _pbuild


#
# vmm
#

# Allow NAT for local VM's
match out on egress from 100.64.0.0/10 to any nat-to (egress)
pass in proto { udp tcp } from 100.64.0.0/10 to any port domain \
	rdr-to 1.1.1.1 port domain
