# {{ template_destpath }}
# {{ ansible_managed }}

#
# VM Templates
#

{% for plan in vmm_plans %}
# name:    {{ plan.name }}
# vCPU:    1
# disk:    {{ plan.disk }}
# memory:  {{ plan.memory }}
vm "{{ plan.name }}" {
    disable
    disk "/home/vm/default/{{ plan.name }}.qcow2"
    memory {{ plan.memory }}
    local interface
}
{% if not loop.last %}
{# add a newline between plans #}

{% endif %}
{% endfor %}
