# {{ template_destpath }}
# {{ ansible_managed }}

pki "mail" cert "/etc/ssl/mail.crt"
pki "mail" key "/etc/ssl/private/mail.key"

table aliases file:/etc/mail/aliases

filter "dkimsign" proc-exec "filter-dkimsign \
    -d {{ mail_domain }} \
    -s {{ mail_dkim_selector }} \
    -k /etc/mail/dkim/{{ mail_dkim_selector }}.private.key" \
    user _dkimsign group _dkimsign

listen on socket filter "dkimsign"
listen on lo0 filter "dkimsign"
listen on egress port 25 filter "dkimsign" tls \
    pki "mail" hostname "{{ mail_domain }}"
listen on egress port 465 filter "dkimsign" tls-require \
    pki "mail" hostname "{{ mail_domain }}"
listen on egress port 587 filter "dkimsign" tls \
    pki "mail" hostname "{{ mail_domain }}"

action "local_mail" maildir "~/Maildir" alias <aliases>
action "outbound" relay

match from any for local action "local_mail"
match from any for any action "outbound"
