# SPDX-License-Identifier: ISC
---
- name: Install required packages
  jcmdln.openbsd.pkg:
    name: "{{ mail_packages }}"
    state: present

#
# DKIM
#

- name: Create /etc/mail/dkim directory
  ansible.builtin.file:
    path: /etc/mail/dkim
    state: directory
    owner: _rspamd
    group: _rspamd
    mode: "0700"

- name: Generate RSA2048 dkim private key
  community.crypto.openssl_privatekey:
    path: "/etc/mail/dkim/{{ mail_dkim_selector }}.{{ mail_domain }}.key"
    state: present
    type: RSA
    size: 2048
    owner: _rspamd
    group: _rspamd
    mode: "0600"

- name: Generate RSA2048 dkim public key
  community.crypto.openssl_publickey:
    path: "/etc/mail/dkim/{{ mail_dkim_selector }}.{{ mail_domain }}.pub"
    privatekey_path: "/etc/mail/dkim/{{ mail_dkim_selector }}.{{ mail_domain }}.key"
    state: present
    owner: _rspamd
    group: _rspamd
    mode: "0600"

#
# Dovecot
#

- name: Enable Dovecot service
  ansible.builtin.service:
    name: dovecot
    enabled: true

- name: Configure Dovecot
  notify: Restart dovecot
  ansible.builtin.template:
    src: etc/dovecot/local.conf.j2
    dest: /etc/dovecot/local.conf
    owner: root
    group: wheel
    mode: "0644"
    backup: true

- name: Comment out ssl_cert from /etc/dovecot/conf.d/10-ssl.conf
  ansible.builtin.replace:
    path: /etc/dovecot/conf.d/10-ssl.conf
    regexp: "^ssl_cert"
    replace: "#ssl_cert"

- name: Comment out ssl_key from /etc/dovecot/conf.d/10-ssl.conf
  ansible.builtin.replace:
    path: /etc/dovecot/conf.d/10-ssl.conf
    regexp: "^ssl_key"
    replace: "#ssl_key"

- name: Start Dovecot service
  ansible.builtin.service:
    name: dovecot
    state: started

#
# Rspamd
#

- name: Enable rspamd
  ansible.builtin.service:
    name: rspamd
    enabled: true

- name: Start rspamd
  ansible.builtin.service:
    name: rspamd
    state: started

- name: Enable redis
  ansible.builtin.service:
    name: redis
    enabled: true

- name: Start redis
  ansible.builtin.service:
    name: redis
    state: started

#
# OpenSMTPD
#

- name: Enable smtpd
  ansible.builtin.service:
    enabled: true
    name: smtpd

- name: Configure smtpd
  notify: Restart smtpd
  ansible.builtin.template:
    src: etc/mail/smtpd.conf.j2
    dest: /etc/mail/smtpd.conf
    owner: root
    group: wheel
    mode: "0644"
    backup: true

- name: Start smtpd
  ansible.builtin.service:
    name: smtpd
    state: started
