# {{ template_destpath }}
# {{ ansible_managed }}

table aliases file:/etc/mail/aliases

pki "{{ mail_domain }}" cert "/etc/ssl/{{ mail_domain }}.crt"
pki "{{ mail_domain }}" key "/etc/ssl/private/{{ mail_domain }}.key"

filter "rspamd" proc-exec "filter-rspamd"

listen on socket
listen on lo0
listen on egress port 25 tls pki "{{ mail_domain }}" auth-optional filter "rspamd"
listen on egress port 465 smtps pki "{{ mail_domain }}" auth-optional filter "rspamd"
listen on egress port 587 tls pki "{{ mail_domain }}" auth-optional filter "rspamd"

action "local_mail" maildir "~/Mail" alias <aliases>
action "dovecot" lmtp "/var/dovecot/lmtp" alias <aliases>
action "outbound" relay

match from local for local action "local_mail"
match from local for any action "outbound"
match from any for domain "{{ mail_domain }}" action "dovecot"
match auth from any for any action "outbound"
