# SPDX-License-Identifier: ISC
---
name: Release

on:
  push:
    tags: ["*"]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with: { python-version: "3.13" }

      - name: Install Ansible
        run: pip install ansible-core

      - name: Build collection
        run: ansible-galaxy collection build

      - name: Publish collection to Ansible Galaxy
        run: >
          ansible-galaxy collection publish
          --api-key ${{ secrets.GALAXY_API_KEY }}
          jcmdln-openbsd-${{ github.ref_name }}.tar.gz
